<div class="eventedit-pg">
    <div class="newevent">
        <form ng-submit="createEvent()" class="event-form">
            <h2>Create a New Event</h2>
            <div class="form-group title">
                <label for="title">Name of Your Event</label>
                <input type="text" class="form-control" id="title" placeholder="Clever Event Name" value="fjdskl" ng-model="event.title" required>
            </div>
            <div class="form-group date">
                <label for="date">Date of Your Event</label>
                <input type="date" class="form-control" id="date" placeholder="Date of Your Event" ng-model="event.date" required>
            </div>
            <div class="form-group items">
                <label for="item">What Guests Should Bring</label>
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[0]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[1]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[2]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[3]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[4]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[5]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[6]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[7]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[8]">
                <input type="text" class="form-control" id="item" placeholder="Items to Bring" ng-model="event.items[9]">
            </div>
            <div class="form-group not-items">
                <label for="not-item">Please Do Not Bring</label>
                <br>
                <textarea rows="4" columns="50"></textarea>
            </div>
            <button type="submit" class="create-event-btn">I'm Ready to Party</button>
        </form>
    </div>
</div>
