<div class="big">
    <div class="eventedit-pg">
        <div class="event-info">
            <h2>{{ event.title }}</h2>
            <h4>Date: {{ event.date }}</h4>
            <h3>Please RSVP:</h3>
            <div class="rsvp">
                <input type="radio" name="rsvp" value="yes">I'll be there!
                <input type="radio" name="rsvp" value="no">Sorry, not this time.
            </div>
            <div class="what-to-bring">
                <h3>What Can you Bring?</h3>
                <div class="one-item" ng-repeat="item in event.items">
                    <input id="checkBox" ng-click="checkClicked()" type="checkbox"> {{ item }} </div>
                <div class="dont-even">
                    <h3>Please Do NOT Bring</h3>
                    <div>{{ event.dont }}</div>
                </div>
            </div>
            <div class="sharethis-inline-share-buttons"></div>
        </div>
    </div>
</div>
