<div class="profile-content container">
    <h3>Your Profile Information</h3>
    <div class="showprofile">
        <div class="profile">
            <div class="change-img">
                <div class="profile-img">
                    <img src="{{user.profileImg}}">
                </div>
            </div>
            <div class="change-img" ng-if="petExistsOnProfile">
                <div class="profile-img">
                    <img src="{{user.usersPetImg}}">
                </div>
            </div>
            <p>First Name: {{ user.firstName }}</p>
            <p>Email: {{ user.email }}</p>
            <p class="add-pet-img" ng-if="!petExistsOnProfile">If you haven't added a picture of your own pet or a pet that is not on Petfinder, click "Edit Your Profile Information" to do so.</p>
            <button class="compare" ng-click="compareToOwnPet()" class="compare-own">Compare Yourself to Your Own Pet</button>
            <button type="button" ng-click="editBtn(true)" class="edit-btn">Edit Your Profile Information</button>
        </div>
    </div>
</div>
