<div class="profile-pg">
    <div class="profile-content container">
        <h2>Your Profile Information</h2>
        <div class="showprofile">
            <div class="profile-info">
                <p>Name: {{ user.name }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Phone Number: {{ user.phone }}</p>
            </div>
            <div class="profile-events">
                <h4>Your Events</h4>
                <p ng-repeat="event in userEvents track by $index">
                    {{event.title}}: {{event.date}}
                </p>
            </div>
        </div>
    </div>
</div>
