<div class="signup-pg">
    <div class="container">
        <form ng-submit="userSignup()" class="signin-form">
            <h3>Signup</h3>
            <div class="form-group signin">
                <label for="name">Name</label>r
                <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="user.name">
            </div>
            <div class="form-group signin">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="youremail@notaol.com" ng-model="user.email" required>
            </div>
            <div class="form-group signin">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="********" ng-model="user.password" required>
            </div>
            <div class="form-group phone">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" placeholder="1234567891" ng-model="user.phone" required>
            </div>
            <button type="submit" class="signin-btn signin">Sign Up &#38; Log In</button>
        </form>
    </div>
</div>
