/* UNIVERSAL */

* {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    color: #E05034;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #F9D035;
}

button {
    border: none;
    padding: 20px;
    font-size: 15px;
}

.container {
    width: 70%;
    margin: auto;
}

.form-control {
    border: none;
    background-color: #CDEFFE;
    padding: 10px;
}


/* HOMEPAGE */
