/* UNIVERSAL */

body {
    margin: 0;
}

* {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    color: #E05034;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #F9D035;
}

button {
    border: none;
    padding: 15px;
    font-size: 15px;
    background-color: #E05034;
    color: #fff;
}

button:hover {
    background-color: #F9D035;
    transition-duration: .5s;
}

.alerts {
    background-color: #F9D035;
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.alerts button {
    display: none;
}

.container {
    width: 70%;
    margin: auto;
}

.form-control {
    border: none;
    border-bottom: 2px solid #CDEFFE;
    padding: 10px;
}

nav {
    background-color: #fff;
    width: 100%;
    margin: 0;
    top: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0px .5px 5px #715956;
    position: fixed;
    z-index: 1;
}


/* HOMEPAGE */

.home {
    background-image: url('/css/images/bbq-so-good.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.info {
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.info-head {
    margin-top: 1em;
}

.signin-form {
    width: 60%;
}

.signin-btn,
.form-group,
.form-control {
    width: 100%;
}

.signin-btn {
    margin-top: 2em;
}


/* PROFILE */

.profile-content {
    margin-top: 7em;
}
