* {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    color: #E05034;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #F9D035;
}

.container {
    width: 70%;
    margin: auto;
}
